<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero-conteiner">
                        <h1 class="banner-heading">
                            Lorem ipsum dolor sit amet.
                        </h1>
                        <p class="banner-text">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum voluptatem sapiente voluptates quae deserunt id debitis dignissimos, provident eius illo!
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                        <img [src]="bannerImage" alt="" style="width: 100%;">
                </div>
            </div>
        </div>
    </section>
</main>
